/*
El fondo y el sistema de menus
*/

body {
    margin: 0;
    /* Aqui el origen de la imagen */
    background-image: url(../image/fondo.jpeg);
    /* Fijar la imagen de fondo este vertical y
        horizontalmente y centrado */
    background-position: center center;
    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;
    /* COn esta regla fijamos la imagen en la pantalla. */
    background-attachment: fixed;
    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;
    /* Damos un color de fondo mientras la imagen esta cargando  */
    background-color: #e9ebee;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* nos aseguramos que el elemento ocupe toda la ventana del navegador */
    min-height: 100%;
}

#navbar {
    display: grid;
    min-height: 20px;
    grid-auto-flow: column;
    background-color: #fcfcfc;
    grid-gap: 1.5em;
    padding: 0 40px;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    font-style: oblique;
    /*text-transform: uppercase;*/
}

.logo span {
    color: #0474bc;
}

#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Open Sans", sans-serif;
}

#links a {
    text-decoration: none;
    color: #333;
    /*text-transform: uppercase;*/
    font-style: italic;
    font-weight: bold;
}

#links a:hover {
    color: #0474bc;
}


/* =======================
  ******* Mobile Menu ******
  ========================*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

a {
    font-family: "Open Sans", sans-serif;
}


/* Mobile to Tablet  */

@media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
        display: none;
    }
    #logo {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-gap: 70px;
    }
}


/* Tablet to Desktop */

@media (min-width: 768px) {
    .mobile-btn {
        display: none;
    }
}


/*
El maquetado empieza aca
*/

.contenedor {
    display: grid;
    grid-template-columns: 4fr 10fr;
    grid-template-rows: 1fr 1fr 21fr 1fr;
    gap: 1% 0.5%;
    grid-auto-flow: row dense;
    grid-template-areas: "menus menus" "titulo titulo" "formulario listado" "pie pie";
    padding-left: 1rem;
    padding-right: 1rem;
}

.menus {
    grid-area: menus;
}

.titulo {
    grid-area: titulo;
}

.formulario {
    display: grid;
    grid-template-columns: 15fr 5fr;
    grid-template-areas: "campos .";
    grid-area: formulario;
}

.campos {
    grid-area: campos;
}

.listado {
    grid-area: listado;
}

.pie {
    grid-area: pie;
}

html,
body,
.contenedor {
    height: 100%;
    margin: 0;
}


/*
Presentacion varia
*/


h1,
th,
td,
.tit {
    color: aliceblue;
    font-weight: 600;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
}

table {
    background-color: rgba(0, 0, 0, 0.4);
}

.pie {
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-weight: 600;
    font-size: small;
}

button[type=submit] {
    background-color: rgba(34, 88, 143, 0.9);
    font-weight: 600;
}

